@import "./variables.scss";

button[is^=ex-button]{
  color: white;
  padding: 12px;
  margin: 2px;
  border: 1px solid white;
  border-radius: 7px;
  transition: margin 0.2s, padding 0.2s;
  background-color: $primary-color;

  &.secondary{
    background-color: $secondary-color;
  }

  &:hover{
    margin: 0;
    padding: 14px;
  }
  &:active{
    margin: 1px;
    padding: 13px;
  }
}