.header{
    color: #1d9494;
}
.root {
    background-color: #061c1c;
    padding: 3rem;
    border: 2px solid #2d3746;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 10rem;
}

.button {
    border: 1px solid white;
    padding: 1rem;
    background-color: #1d9494;
    text-transform: uppercase;
    font-family: 'Avenir Next', serif;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #dbdde1;
}
