.root {
  background-color: #1d2733;
  padding: 3rem;
  border: 2px solid #2d3746;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 10rem;

  h1 {
    color: #446b9e;
  }

  button{
    border: 1px solid white;
    padding: 1rem;
    background-color: #446b9e;
    text-transform: uppercase;
    font-family: "Avenir Next", serif;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #dbdde1;
  }
}
